<div class="intro">
  <div class="bio">
      <h2>Hi, I'm Minji Kim!</h2>
      <p>
          I am currently pursuing a Ph.D. in Statistics and Operations Research (STOR) at UNC Chapel Hill, under the supervision of Prof. Vladas Pipiras.
          My research focuses on leveraging multiple computer models with varying levels of fidelity (in terms of accuracy and cost) to achieve more accurate estimations, a field known as multi-fidelity modeling.
      </p>
      <p>
          I hold a B.S. (2019) and M.S. (2021) in Statistics from Seoul National University, where I was mentored by Prof. Hee-Seok Oh. I've interned at LLNL in the Summer of 2022 and at Moloco in the Summer of 2023. More details are available in my CV.
      </p>
  </div>
  <div class="education">
      <h2>Education</h2>
      <ul>
          <li><strong>Ph.D:</strong> Statistics and Operations Research, UNC at Chapel Hill, May 2026 (expected)</li>
          <li><strong>M.S:</strong> Statistics, Seoul National University, Feb 2021</li>
          <li><strong>B.S:</strong> Statistics, Minor in Computer Science and Engineering, Seoul National University, Feb 2019</li>
      </ul>
  </div>

  <div class="news">
      <h2>Recent News</h2>
      {% assign sorted_news = site.data.recent_news | sort: 'date' | reverse %}
      {% assign current_year = "" %}
      {% for post in sorted_news %}
          {% capture post_year %}{{ post.date | date: '%Y' }}{% endcapture %}
          {% if post_year != current_year %}
              {% unless forloop.first %}
                  </ul>
              {% endunless %}
              <p class="archive_year">{{ post_year }}</p>
              <ul>
              {% assign current_year = post_year %}
          {% endif %}
          <li>
              <time class='archive_date' datetime='{{ post.date | date_to_xmlschema }}'>
                  {{ post.date | date: "%b %-d, %Y" }}
              </time>
              <div class='archive_title'>
                  {{ post.title | escape }}
                  {% if post.url and post.link_text %}
                      <a href='{{ post.url }}'>{{ "(Link)" | escape }}</a>
                  {% endif %}
              </div>
              {% if post.additional_info %}
                  <p class='news_additional_info'>
                      {{ post.additional_info | escape }}
                  </p>
              {% endif %}
          </li>
          {% if forloop.last %}
              </ul>
          {% endif %}
      {% endfor %}
  </div>
</div>

