<header class="header">

  <div class="header_content">
    <label class="theme_changer">
      <input theme_toggle type="checkbox">
      <div class="button"></div>
    </label>
    <a class="header_circle" href="{{ '/' | relative_url }}">
      <img src="{{ site.user.pic | relative_url }}" alt="{{ site.user.picAlt }}">
    </a>
    <span class="header_name">{{ site.user.name }}</span>
    <span class="header_job">{{ site.user.job }}</span>
    <span class="header_mes">{{ site.user.message }}</span>

    <!-- Social Media Icons -->
    <div class="social-icons">
      {% if site.social.email %}
      <a href="mailto:{{ site.social.email }}" title="Email">
        <i class="fas fa-envelope"></i>
      </a>
      {% endif %}
      {% if site.social.github %}
      <a href="{{ site.social.github }}" title="GitHub" target="_blank">
        <i class="fab fa-github"></i>
      </a>
      {% endif %}
      {% if site.social.linkedin %}
      <a href="{{ site.social.linkedin }}" title="LinkedIn" target="_blank">
        <i class="fab fa-linkedin"></i>
      </a>
      {% endif %}
      {% if site.social.scholar %}
      <a href="{{ site.social.scholar }}" title="Google Scholar" target="_blank">
        <i class="fas fa-graduation-cap"></i>
      </a>
      {% endif %}
    </div>

    <!-- Navigation -->
    <nav class="nav">
      {% if site.user.aboutme %}
      <ul class="nav_list">
        <li class="nav_item">
          <a href="{{ site.baseurl }}/publication.html">Publication</a>
        </li>
      </ul>
      {% endif %}
      <ul class="nav_list">
        <li class="nav_item">
          <a href="{{ site.baseurl }}/talks.html">Talks</a>
        </li>
      </ul>
      {% for category in site.categories %}
      {% capture cat_name %}{{ category | first }}{% endcapture %}
      <ul class="nav_list">
        <li class="nav_item">
          {% if cat_name == "Teaching" %}
          {% assign teaching_post = site.posts | where: "categories", "Teaching" | first %}
          <a href="{{ teaching_post.url | relative_url }}">Teaching</a>
          {% elsif cat_name == "Research" %}
          {% assign research_post = site.posts | where: "categories", "Research" | first %}
          <a href="{{ research_post.url | relative_url }}">Research</a>
          {% else %}
          <a href="{{ site.baseurl }}/categories/{{ cat_name | downcase }}.html">{{ cat_name }}
            ({{ category | last | size }})</a>
          {% endif %}
        </li>
      </ul>
      {% endfor %}
      <ul class="nav_list">
        <li class="nav_item">
          <a href="{{ site.baseurl }}/honors.html">Awards</a>
        </li>
      </ul>
    </nav>
    

  </div>

</header>

