<nav class="mobile_menu">

  <ul class="nav_list">
    <li class="nav_item">
      <a href="{{ site.baseurl }}/aboutme.html">Publication</a>
    </li>
    <li class="nav_item">
      <a href="{{ site.baseurl }}/research.html">Research</a>
    </li>
    <li class="nav_item">
      <a href="{{ site.baseurl }}/talks.html">Talks</a>
    </li>
    <li class="nav_item">
      <a href="{{ site.baseurl }}/categories/teaching.html">Teaching</a>
    </li>
    <li class="nav_item">
      <a href="{{ site.baseurl }}/honors.html">Awards</a>
    </li>
  </ul>

</nav>