<nav class="mobile_menu">

    {% if site.user.aboutme %}
    <ul class="nav_list">
    <li class="nav_item">
      <a href="{{ site.baseurl }}/aboutme.html">Publication</a>
    </li>
    </ul>
    {% endif %}
    <ul class="nav_list">
    <li class="nav_item">
      <a href="{{ site.baseurl }}/talks.html">Talks</a>
    </li>
    </ul>
    {% for category in site.categories %}
    {% capture cat_name %}{{ category | first }}{% endcapture %}
    {% if cat_name == "Teaching" %}
    {% assign teaching_post = site.posts | where: "categories", "Teaching" | first %}
    <ul class="nav_list">
      <li class="nav_item">
        <a href="{{ teaching_post.url | relative_url }}">Teaching</a>
      </li>
    </ul>
    {% else %}
    <ul class="nav_list">
      <li class="nav_item">
        <a href="{{ site.baseurl }}/categories/{{ cat_name | downcase }}.html">{{ cat_name }}
          ({{ category | last | size }})</a>
      </li>
    </ul>
    {% endif %}
    {% endfor %}
    <ul class="nav_list">
    <li class="nav_item">
      <a href="{{ site.baseurl }}/honors.html">Awards</a>
    </li>
    </ul>

</nav>
